<body>
    <div class="container">
        <button class="butt" routerLink="/sft_check">
                Single Choice
        </button>            
        <button class="butt" routerLink="/mft_check">
                Multiple Choice
        </button>
        <button class="butt" routerLink="/fift_check">
                Fill in
        </button>
        <button class="butt" routerLink="/aft_check">
                All
        </button>
        <button class="butt" routerLink="/home">
          Home
        </button>
    </div>
</body>
