<button class=" bg-blue-500 px-5 py-3 text-base mb-3 font-medium text-white transition duration-200 hover:bg-blue-600 active:bg-blue-700" routerLink="/home">
    Home
</button>
<div>
    <ul>
        <li>
            <button class="butt" routerLink="/sft_check">
                Single Choice
            </button>
        </li>
        <li>
            <button class="butt" routerLink="/mft_check">
                Multiple Choice
            </button>
        </li>
        <li>
            <button class="butt" routerLink="/fift_check">
                Fill in
            </button>
        </li>
        <li>
            <button class="butt" routerLink="/aft_check">
                All
            </button>
        </li>
    </ul>
</div>
