<div *ngIf="!gotolearnmode">
    <button
        class="bg-blue-500 px-5 py-3 text-base mb-3 font-medium text-white transition duration-200 hover:bg-blue-600 active:bg-blue-700"
        routerLink="/home">
        Home
    </button>
    <button class="chk" type="button" (click)="korrektheitPruefen(frage.qid)">
    Correct
</button>
    <div class="fa">
        <p>Frage: {{frage.qid}} | Fragentyp: {{frage.qtyp}} <br></p>
        <div *ngFor="let qtxt of frage.qtxt">
            <span *ngIf="qtxt[0] === ' '"> {{qtxt}}</span>
            <span *ngIf="qtxt[0] !== ' '"> {{qtxt}}</span>
        </div>
        <div *ngIf="frage.qtyp === 'sc'">
            <div class="fr" *ngFor="let antwort of frage.qanswers; index as ok">
                <span *ngIf="qcor">
                    <span *ngIf="antwort.correct">
                        <span *ngIf="zeigAktuelleAntwort === frage.qid" class="gruen">
                            <input type="radio" (click)="antwort.givenans = !antwort.givenans" checked disabled>
                            {{ok + 1}}<span>)</span> {{antwort.txt}}
                        </span>
                    </span>
                    <span *ngIf="!antwort.correct">
                        <span *ngIf="zeigAktuelleAntwort === frage.qid" class="rot">
                            <input type="radio" (click)="aGebAntwortSC(ok)" disabled>
                            {{ok + 1}}<span>)</span> {{antwort.txt}}
                        </span>
                    </span>
                    <span *ngIf="zeigAktuelleAntwort !== frage.qid">
                        <input type="radio" (click)="aGebAntwortSC(ok)" disabled>
                        {{ok + 1}}<span>)</span> {{antwort.txt}}
                    </span>
                </span>
                <span *ngIf="!qcor">
                    <div *ngIf="antwort.givenans">
                        <input type="radio" (click)="aGebAntwortSC(ok)" checked>
                        {{ok + 1}}<span>)</span> {{antwort.txt}}
                    </div>
                    <div *ngIf="!antwort.givenans">
                        <input type="radio" (click)="aGebAntwortSC(ok)">
                        {{ok + 1}}<span>)</span> {{antwort.txt}}
                    </div>
                </span>
            </div>
        </div>
        <div *ngIf="frage.qtyp === 'mc'">
            <div class="fr" *ngFor="let antwort of frage.qanswers; index as ok">
                <span *ngIf="qcor">
                    <span *ngIf="antwort.correct">
                        <span *ngIf="zeigAktuelleAntwort === frage.qid" class="gruen">
                            <input type="checkbox" (click)="antwort.givenans = !antwort.givenans" checked disabled>
                            {{ok + 1}}<span>)</span> {{antwort.txt}}                            
                        </span>
                    </span>
                    <span *ngIf="!antwort.correct">
                        <span *ngIf="zeigAktuelleAntwort === frage.qid" class="rot">
                            <input type="checkbox" (click)="aGebAntwortMC(ok)" disabled>
                            {{ok + 1}}<span>)</span> {{antwort.txt}}
                        </span>
                    </span>
                    <span *ngIf="zeigAktuelleAntwort !== frage.qid">
                        <input type="checkbox" (click)="aGebAntwortMC(ok)" disabled>
                        {{ok + 1}}<span>)</span> {{antwort.txt}}
                    </span>
                </span>
                <span *ngIf="!qcor">
                    <div *ngIf="antwort.givenans">
                        <input type="checkbox" (click)="aGebAntwortMC(ok)" checked>
                        {{ok + 1}}<span>)</span> {{antwort.txt}}
                    </div>
                    <div *ngIf="!antwort.givenans">
                        <input type="checkbox" (click)="aGebAntwortMC(ok)" >
                        {{ok + 1}}<span>)</span> {{antwort.txt}}
                    </div>
                </span>
            </div>
        </div>
        <div *ngIf="frage.qtyp ==='fi'" class="fa">
            <p>Frage: {{frage.qid}} | Fragentyp: {{frage.qtyp}} <br></p>
            <div *ngFor="let qtxt of frage.qtxt">
                <span *ngIf="qtxt[0] === ' '"> {{qtxt}}</span>
                <span *ngIf="qtxt[0] !== ' '"> {{qtxt}}</span>
            </div>
            <div class="fr" *ngFor="let antwort of frage.qanswers; index as ok">
                <span *ngIf="qcor">
                    <span *ngIf="zeigAktuelleAntwort === frage.qid" class="gruen">
                        {{ok + 1}} : {{antwort.txt}}
                    </span>
                    <span *ngIf="zeigAktuelleAntwort !== frage.qid">
                        {{ok + 1}}:
                        <input type="text" value="{{antwort.txt}}">
                    </span>
                </span>
                <div>
                    <span *ngIf="richtigeEingabe">
                        <span *ngIf="!qcor">
                            {{ok + 1}}:
                            <input type="text" #myinput (keyup)="kInput(myinput.value)" value="{{ frage.qgiventxt}}"
                                llceaeAutoFocusInput (keyup.enter)="naechsteFrage()">
                        </span>
                    </span>
                    <span *ngIf="!richtigeEingabe">
                        <span *ngIf="!qcor">
                            {{ok + 1}}:
                            <input type="text" #myinput (keyup)="kInput(myinput.value)" value="{{ frage.qgiventxt}}"
                                llceaeAutoFocusInput (keyup.enter)="naechsteFrage()">
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <button class="bck" type="button" (click)="vorherigeFrage()">
        Back
    </button>

    <button class="nxt" type="button" (click)="naechsteFrage()">
        Next
    </button>
    <div>
        Query_Number:{{stats.mnum}} <br>
        Answered:{{stats.ansd}} <br>
        No_answered:{{stats.nixbeant}} <br>
        Wrong:{{stats.falsch}} <br>
        Correct:{{stats.richtig}} <br>
    </div>
</div>

<div *ngIf="gotolearnmode">
    <button
        class="bg-blue-500 px-5 py-3 text-base mb-3 font-medium text-white transition duration-200 hover:bg-blue-600 active:bg-blue-700"
        routerLink="/home">
        Home
    </button>
    <h1>Oops so geht es nicht, zu viel Fehler | Nimm noch ein bisschen mehr Zeit um sich zu vorbereiten</h1>
</div>