<body>
    <div class="container">
        <div class="header-buttons">
            <button class="butt home-butt" routerLink="/home">
                Home
            </button>
            <button class="butt chk-butt" type="button" (click)="korrektheitPruefen(frage.qid)">
                Correct
            </button>
        </div>
        <div class="fa question-area">
            <p>Frage: {{frage.qid}} | Fragentyp: {{frage.qtyp}} <br></p>
            <div *ngFor="let qtxt of frage.qtxt">
                <span *ngIf="qtxt[0] !== ' '"> {{qtxt}}</span>
            </div>
            <div class="fr" *ngFor="let antwort of frage.qanswers; index as ok">
                <span *ngIf="qcor">
                    <span *ngIf="zeigAktuelleAntwort === frage.qid" class="gruen">
                        {{ok + 1}} : {{antwort.txt}}
                    </span>
                </span>
                <span *ngIf="!qcor">
                    {{ok + 1}} : ______________________
                </span>
            </div>
        </div>
        <div class="footer-buttons">
            <button class="butt nav-butt" type="button" (click)="vorherigeFrage()">
                Back
            </button>
            <button class="butt nav-butt" type="button" (click)="naechsteFrage()">
                Next
            </button>
        </div>
    </div>
</body>