<button
    class="bg-blue-500 px-5 py-3 text-base mb-3 font-medium text-white transition duration-200 hover:bg-blue-600 active:bg-blue-700"
    routerLink="/home">
    Home
</button>
<button class="chk" type="button" (click)="korrektheitPruefen(frage.qid)">
    Correct
</button>
<div class="fa">
    <p>Frage: {{frage.qid}} | Fragentyp: {{frage.qtyp}} <br></p>
    <div *ngFor="let qtxt of frage.qtxt">
        <span *ngIf="qtxt[0] === ' '"> {{qtxt}}</span>
        <span *ngIf="qtxt[0] !== ' '"> {{qtxt}}</span>
    </div>
    <div *ngIf="frage.qtyp === 'sc'">
        <div class="fr" *ngFor="let antwort of frage.qanswers; index as ok">
            <span *ngIf="qcor">
                <span *ngIf="antwort.correct">
                    <span *ngIf="zeigAktuelleAntwort === frage.qid" class="gruen">
                        {{ok + 1}}<span>)</span> {{antwort.txt}}
                    </span>
                </span>
                <span *ngIf="!antwort.correct">
                    <span *ngIf="zeigAktuelleAntwort === frage.qid" class="rot">
                        {{ok + 1}}<span>)</span> {{antwort.txt}}
                    </span>
                </span>
                <span *ngIf="zeigAktuelleAntwort !== frage.qid">
                    {{ok + 1}}<span>)</span> {{antwort.txt}}
                </span>
            </span>
            <span *ngIf="!qcor">
                <div *ngIf="antwort.givenans">
                    {{ok + 1}}<span>)</span> {{antwort.txt}}
                </div>
                <div *ngIf="!antwort.givenans">
                    {{ok + 1}}<span>)</span> {{antwort.txt}}
                </div>
            </span>
        </div>
    </div>
    <div *ngIf="frage.qtyp === 'mc'">
        <div class="fr" *ngFor="let antwort of frage.qanswers; index as ok">
            <span *ngIf="qcor">
                <span *ngIf="antwort.correct">
                    <span *ngIf="zeigAktuelleAntwort === frage.qid" class="gruen">
                        {{ok + 1}}<span>)</span> {{antwort.txt}}
                    </span>
                </span>
                <span *ngIf="!antwort.correct">
                    <span *ngIf="zeigAktuelleAntwort === frage.qid" class="rot">
                        {{ok + 1}}<span>)</span> {{antwort.txt}}
                    </span>
                </span>
                <span *ngIf="zeigAktuelleAntwort !== frage.qid">
                    {{ok + 1}}<span>)</span> {{antwort.txt}}
                </span>
            </span>
            <span *ngIf="!qcor">
                <div *ngIf="antwort.givenans">
                    {{ok + 1}}<span>)</span> {{antwort.txt}}
                </div>
                <div *ngIf="!antwort.givenans">
                    {{ok + 1}}<span>)</span> {{antwort.txt}}
                </div>
            </span>
        </div>
    </div>
    <div *ngIf="frage.qtyp === 'fi'">
        <div class="fr" *ngFor="let antwort of frage.qanswers; index as ok">
            <span *ngIf="qcor">
                <span *ngIf="zeigAktuelleAntwort === frage.qid" class="gruen">
                    {{ok + 1}} : {{antwort.txt}}
                </span>
            </span>
            <span *ngIf="!qcor">
                {{ok + 1}} : ______________________
            </span>
        </div>
    </div>
</div>


<button class="bck" type="button" (click)="vorherigeFrage()">
    Back
</button>

<button class="bck" type="button" (click)="naechsteFrage()">
    Next
</button>