<body>
    <div class="container">
        <div class="header-buttons">
            <button class="butt home-butt" routerLink="/home">
                Home
            </button>
            <button class="butt chk-butt" type="button" (click)="korrektheitPruefen(frage.qid)">
                Correct
            </button>
        </div>
        <div class="fa question-area">
            <p>Frage: {{frage.qid}} | Fragentyp: {{frage.qtyp}} <br></p>
            <div *ngFor="let qtxt of frage.qtxt">
                <span *ngIf="qtxt[0] === ' '"> {{qtxt}}</span>
                <span *ngIf="qtxt[0] !== ' '"> {{qtxt}}</span>
            </div>
            <div *ngIf="frage.qtyp === 'mc'">
                <div class="fr" *ngFor="let antwort of frage.qanswers; index as ok">
                    <span *ngIf="qcor">
                        <span *ngIf="antwort.correct">
                            <span *ngIf="zeigAktuelleAntwort === frage.qid" class="gruen">
                                {{ok + 1}}<span>)</span> {{antwort.txt}}
                            </span>
                        </span>
                        <span *ngIf="!antwort.correct">
                            <span *ngIf="zeigAktuelleAntwort === frage.qid" class="rot">
                                {{ok + 1}}<span>)</span> {{antwort.txt}}
                            </span>
                        </span>
                        <span *ngIf="zeigAktuelleAntwort !== frage.qid">
                            {{ok + 1}}<span>)</span> {{antwort.txt}}
                        </span>
                    </span>
                    <span *ngIf="!qcor">
                        <div *ngIf="antwort.givenans">
                            {{ok + 1}}<span>)</span> {{antwort.txt}}
                        </div>
                        <div *ngIf="!antwort.givenans">
                            {{ok + 1}}<span>)</span> {{antwort.txt}}
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="footer-buttons">
            <button class="butt nav-butt" type="button" (click)="vorherigeFrage()">
                Back
            </button>
            <button class="butt nav-butt" type="button" (click)="naechsteFrage()">
                Next
            </button>
        </div>
    </div>
</body>